Repository woowacourse-teams/2023-emmsale, pull requests merged in 2023-11, with the labels that each got.

#810 fix : API 31 미만 Splash 화면 대응
  android/2023-emmsale/app/src/main/AndroidManifest.xml
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/splash/SplashActivity.kt
  android/2023-emmsale/app/src/main/res/layout/activity_post_writing.xml
  android/2023-emmsale/app/src/main/res/layout/activity_recruitment_post_writing.xml
  android/2023-emmsale/app/src/main/res/layout/activity_splash.xml
  android/2023-emmsale/app/src/main/res/values-v31/themes.xml
  android/2023-emmsale/app/src/main/res/values/styles.xml
  android/2023-emmsale/app/src/main/res/values/themes.xml
Labels: 버그, Android

#817 Fix/#816 알림 태그 수정 버그
  android/2023-emmsale/app/build.gradle.kts
  android/2023-emmsale/app/src/main/java/com/emmsale/data/apiModel/response/EventTagResponse.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/data/dataSource/remote/EventTagRemoteDataSource.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/data/service/EventTagService.kt
Labels: 버그, Android, High Priority

#834 Feature/#777 행사 목록 화면에서 맨 위로 이동하는 기능
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/common/ScrollTopListener.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/competitionList/CompetitionFragment.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/conferenceList/ConferenceFragment.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/scrappedEventList/ScrappedEventFragment.kt
  android/2023-emmsale/app/src/main/res/drawable/ic_all_arrow_up.xml
  android/2023-emmsale/app/src/main/res/layout/fragment_competition.xml
  android/2023-emmsale/app/src/main/res/layout/fragment_conference.xml
  android/2023-emmsale/app/src/main/res/layout/fragment_scrapped_event.xml
Labels: Android, 기능 추가, Low Priority

#831 feat: 응답 코드가 401이면 로그인 화면으로 이동하는 기능 구현
  android/2023-emmsale/app/src/main/java/com/emmsale/data/common/retrofit/AuthInterceptor.kt
Labels: Android, 기능 추가

#835 fix : 행사 상세 디자인 변경
  android/2023-emmsale/app/src/main/res/layout/activity_event_detail.xml
Labels: Android

#829 Feature/#786 푸시 알림으로 채팅 화면에 들어가면 뒤로가기를 했을 때 홈 화면으로 이동
  android/2023-emmsale/app/src/main/AndroidManifest.xml
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/KerdyApplication.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/common/KerdyNotificationChannel.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/common/extension/ContextExt.kt
Labels: Android, Low Priority

#826 Refactor/#823 스크랩 관련 api 명세 수정
  backend/emm-sale/src/documentTest/java/com/emmsale/ScrapApiTest.java
  backend/emm-sale/src/main/java/com/emmsale/scrap/api/ScrapApi.java
  backend/emm-sale/src/main/java/com/emmsale/scrap/application/ScrapCommandService.java
  backend/emm-sale/src/main/resources/http/scrap.http
Labels: Backend, 리팩터링, High Priority

#838 fix : 피드 목록이 나왔다가 바로 사라지는 버그 수정
  android/2023-emmsale/app/build.gradle.kts
  android/2023-emmsale/app/src/main/res/layout/activity_event_detail.xml
Labels: 버그, Android

#842 Fix/#840 member acitivity id 반환값 변경
  backend/emm-sale/src/documentTest/java/com/emmsale/MemberApiTest.java
  backend/emm-sale/src/main/java/com/emmsale/activity/application/dto/ActivityResponse.java
  backend/emm-sale/src/main/java/com/emmsale/member/api/MemberApi.java
  backend/emm-sale/src/main/java/com/emmsale/member/application/MemberActivityCommandService.java
  backend/emm-sale/src/main/java/com/emmsale/member/application/MemberActivityQueryService.java
  backend/emm-sale/src/test/java/com/emmsale/member/application/MemberActivityCommandServiceTest.java
  backend/emm-sale/src/test/java/com/emmsale/member/application/MemberActivityQueryServiceTest.java
Labels: 버그, Backend
