Repository woowacourse-teams/2023-emmsale, pull requests merged in 2023-12, with the labels that each got.

#865 fix: 로그인관련 에러코드를 400이 아닌 401로 변경
  backend/emm-sale/src/main/java/com/emmsale/login/exception/LoginExceptionType.java
Labels: 버그, Backend, High Priority

#870 Feature/#869 행사 탭 아이콘 변경
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/main/MainActivity.kt
  android/2023-emmsale/app/src/main/res/drawable/ic_main_menuitemevent.xml
  android/2023-emmsale/app/src/main/res/menu/menu_main_bottomnavigationview.xml
  android/2023-emmsale/app/src/main/res/values/strings.xml
Labels: Android

#875 Refactor/#874 network view model 리팩터링
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/base/NetworkActivity.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/base/NetworkFragment.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/base/NetworkViewModel.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/base/RefreshableViewModel.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/common/CommonUiEvent.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/common/NetworkUiEvent.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/common/NetworkUiState.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/eventDetail/EventDetailFragmentStateAdapter.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/feedDetail/FeedDetailViewModel.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/messageList/MessageListViewModel.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/notificationTagConfig/NotificationTagConfigViewModel.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/profile/ProfileViewModel.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/recruitmentDetail/RecruitmentDetailViewModel.kt
  android/2023-emmsale/app/src/main/res/layout-land/activity_event_detail.xml
  android/2023-emmsale/app/src/main/res/layout/activity_blocked_members.xml
  android/2023-emmsale/app/src/main/res/layout/activity_child_comments.xml
  android/2023-emmsale/app/src/main/res/layout/activity_edit_my_profile.xml
  android/2023-emmsale/app/src/main/res/layout/activity_event_detail.xml
  android/2023-emmsale/app/src/main/res/layout/activity_feed_detail.xml
  android/2023-emmsale/app/src/main/res/layout/activity_feed_writing.xml
  android/2023-emmsale/app/src/main/res/layout/activity_login.xml
  android/2023-emmsale/app/src/main/res/layout/activity_message_list.xml
  android/2023-emmsale/app/src/main/res/layout/activity_my_comments.xml
  android/2023-emmsale/app/src/main/res/layout/activity_notification_config.xml
  android/2023-emmsale/app/src/main/res/layout/activity_notification_tag_config.xml
  android/2023-emmsale/app/src/main/res/layout/activity_notifications.xml
  android/2023-emmsale/app/src/main/res/layout/activity_onboarding.xml
  android/2023-emmsale/app/src/main/res/layout/activity_profile.xml
  android/2023-emmsale/app/src/main/res/layout/activity_recruitment_detail.xml
  android/2023-emmsale/app/src/main/res/layout/activity_recruitment_writing.xml
  android/2023-emmsale/app/src/main/res/layout/dialog_send_message.xml
  android/2023-emmsale/app/src/main/res/layout/fragment_feed_list.xml
  android/2023-emmsale/app/src/main/res/layout/fragment_message_room.xml
  android/2023-emmsale/app/src/main/res/layout/fragment_my_profile.xml
  android/2023-emmsale/app/src/main/res/layout/fragment_recruitments.xml
  android/2023-emmsale/app/src/main/res/layout/fragment_scrapped_event.xml
  android/2023-emmsale/app/src/main/res/layout/fragment_setting.xml
Labels: Android, 리팩터링, High Priority

#885 Feature/#884 차단 관련 문자열 수정
  android/2023-emmsale/app/src/main/res/values/strings.xml
Labels: Android, 기능 추가, High Priority

#883 Feature/#882 댓글 하이라이팅
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/common/layoutManager/CenterSmoothScroller.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/common/layoutManager/EndSmoothScroller.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/common/views/SubTextInputWindow.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/childCommentList/ChildCommentsActivity.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/childCommentList/ChildCommentsViewModel.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/feedDetail/FeedDetailActivity.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/feedDetail/FeedDetailViewModel.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/feedDetail/uiState/CommentUiState.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/feedDetail/uiState/CommentsUiState.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/feedDetail/uiState/FeedDetailUiEvent.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/feedDetail/uiState/FeedDetailUiState.kt
  android/2023-emmsale/app/src/main/res/layout/activity_child_comments.xml
  android/2023-emmsale/app/src/main/res/layout/activity_feed_detail.xml
Labels: Android, 기능 추가, Low Priority

#878 feat(EventInfoFragment): 지도 앱에 장소 검색하는 기능 추가
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/eventDetailInfo/EventInfoFragment.kt
  android/2023-emmsale/app/src/main/res/drawable/ic_eventinformation_map.xml
  android/2023-emmsale/app/src/main/res/layout/fragment_event_information.xml
  android/2023-emmsale/app/src/main/res/values/strings.xml
Labels: Android, 기능 추가, Low Priority
