Repository woowacourse-teams/2023-emmsale, pull requests merged in 2023-10, with the labels that each got.

#655 Feature/#648 상세정보 탭에서 여러 이미지 보여주기
  android/2023-emmsale/app/build.gradle.kts
  android/2023-emmsale/app/src/main/java/com/emmsale/data/mapper/EventDetailMapper.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/data/model/EventDetail.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/common/bindingadapter/ImageViewBindingAdapter.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/eventDetail/EventDetailViewModel.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/eventDetail/uiState/EventDetailUiState.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/eventDetailInfo/EventInfoFragment.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/eventDetailInfo/recyclerView/EventInfoImageAdapter.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/eventDetailInfo/recyclerView/EventInfoImageViewHolder.kt
  android/2023-emmsale/app/src/main/res/layout/fragment_event_information.xml
  android/2023-emmsale/app/src/main/res/layout/item_event_information_image.xml
Labels: Android

#675 Feature/#658 자신이 작성한 피드 목록 조회
  backend/emm-sale/src/documentTest/asciidoc/index.adoc
  backend/emm-sale/src/documentTest/java/com/emmsale/FeedApiTest.java
  backend/emm-sale/src/main/java/com/emmsale/feed/api/FeedApi.java
  backend/emm-sale/src/main/java/com/emmsale/feed/application/FeedQueryService.java
  backend/emm-sale/src/main/java/com/emmsale/feed/domain/repository/FeedRepository.java
  backend/emm-sale/src/test/java/com/emmsale/feed/application/FeedQueryServiceTest.java
Labels: 백엔드, 기능 추가, High Priority

#674 Feature/#670-피드_이미지_정렬_기능_추가
  backend/emm-sale/src/main/java/com/emmsale/feed/application/FeedQueryService.java
  backend/emm-sale/src/test/java/com/emmsale/feed/application/FeedQueryServiceTest.java
Labels: 백엔드, 기능 추가, Low Priority

#677 Feat/#663 notification api 추가
  backend/emm-sale/src/documentTest/asciidoc/index.adoc
  backend/emm-sale/src/documentTest/java/com/emmsale/MockMvcTestHelper.java
  backend/emm-sale/src/documentTest/java/com/emmsale/NotificationApiTest.java
  backend/emm-sale/src/main/java/com/emmsale/event_publisher/CommentNotificationEvent.java
  backend/emm-sale/src/main/java/com/emmsale/event_publisher/EventNotificationEvent.java
  backend/emm-sale/src/main/java/com/emmsale/event_publisher/NotificationEvent.java
  backend/emm-sale/src/main/java/com/emmsale/notification/api/NotificationApi.java
  backend/emm-sale/src/main/java/com/emmsale/notification/application/NotificationCommandService.java
  backend/emm-sale/src/main/java/com/emmsale/notification/application/NotificationEventListener.java
  backend/emm-sale/src/main/java/com/emmsale/notification/application/NotificationQueryService.java
  backend/emm-sale/src/main/java/com/emmsale/notification/application/dto/CommentNotificationMessage.java
  backend/emm-sale/src/main/java/com/emmsale/notification/application/dto/EventNotificationMessage.java
  backend/emm-sale/src/main/java/com/emmsale/notification/application/dto/NotificationDeleteRequest.java
  backend/emm-sale/src/main/java/com/emmsale/notification/application/dto/NotificationDetailResponse.java
  backend/emm-sale/src/main/java/com/emmsale/notification/application/generator/CommentNotificationMessageGenerator.java
  backend/emm-sale/src/main/java/com/emmsale/notification/application/generator/EventNotificationMessageGenerator.java
  backend/emm-sale/src/main/java/com/emmsale/notification/domain/Notification.java
  backend/emm-sale/src/main/java/com/emmsale/notification/domain/NotificationRepository.java
  backend/emm-sale/src/main/resources/schema.sql
  backend/emm-sale/src/test/java/com/emmsale/event/application/EventServiceEventIntegrationTest.java
  backend/emm-sale/src/test/java/com/emmsale/notification/application/NotificationCommandServiceTest.java
  backend/emm-sale/src/test/java/com/emmsale/notification/application/NotificationEventListenerTest.java
  backend/emm-sale/src/test/java/com/emmsale/notification/application/NotificationQueryServiceTest.java
  backend/emm-sale/src/test/java/com/emmsale/notification/application/generator/CommentNotificationMessageGeneratorTest.java
  backend/emm-sale/src/test/java/com/emmsale/notification/application/generator/EventNotificationMessageGeneratorTest.java
  backend/emm-sale/src/test/java/com/emmsale/notification/domain/NotificationRepositoryTest.java
Labels: 백엔드, 기능 추가

#688 refactor : 댓글 알림에 feedId와 부모 댓글 ID 반환하기
  backend/emm-sale/src/documentTest/java/com/emmsale/NotificationApiTest.java
  backend/emm-sale/src/main/java/com/emmsale/event_publisher/CommentNotificationEvent.java
  backend/emm-sale/src/test/java/com/emmsale/notification/NotificationFixture.java
  backend/emm-sale/src/test/java/com/emmsale/notification/application/NotificationCommandServiceTest.java
  backend/emm-sale/src/test/java/com/emmsale/notification/application/NotificationQueryServiceTest.java
  backend/emm-sale/src/test/java/com/emmsale/notification/domain/NotificationRepositoryTest.java
Labels: 백엔드, 기능 추가, High Priority

#685 Refactor/#684 request notification update notification 삭제
  backend/emm-sale/src/documentTest/java/com/emmsale/MockMvcTestHelper.java
  backend/emm-sale/src/documentTest/java/com/emmsale/RequestNotificationApiTest.java
  backend/emm-sale/src/documentTest/java/com/emmsale/UpdateNotificationApiTest.java
  backend/emm-sale/src/main/java/com/emmsale/event_publisher/UpdateNotificationEvent.java
  backend/emm-sale/src/main/java/com/emmsale/notification/api/RequestNotificationApi.java
  backend/emm-sale/src/main/java/com/emmsale/notification/api/UpdateNotificationApi.java
  backend/emm-sale/src/main/java/com/emmsale/notification/application/FirebaseCloudMessageClient.java
  backend/emm-sale/src/main/java/com/emmsale/notification/application/NotificationEventListener.java
  backend/emm-sale/src/main/java/com/emmsale/notification/application/RequestNotificationCommandService.java
  backend/emm-sale/src/main/java/com/emmsale/notification/application/RequestNotificationQueryService.java
  backend/emm-sale/src/main/java/com/emmsale/notification/application/UpdateNotificationCommandService.java
  backend/emm-sale/src/main/java/com/emmsale/notification/application/UpdateNotificationQueryService.java
  backend/emm-sale/src/main/java/com/emmsale/notification/application/dto/RequestNotificationExistedRequest.java
  backend/emm-sale/src/main/java/com/emmsale/notification/application/dto/RequestNotificationMessage.java
  backend/emm-sale/src/main/java/com/emmsale/notification/application/dto/RequestNotificationModifyRequest.java
  backend/emm-sale/src/main/java/com/emmsale/notification/application/dto/RequestNotificationRequest.java
  backend/emm-sale/src/main/java/com/emmsale/notification/application/dto/RequestNotificationResponse.java
  backend/emm-sale/src/main/java/com/emmsale/notification/application/dto/UpdateNotificationDeleteRequest.java
  backend/emm-sale/src/main/java/com/emmsale/notification/application/dto/UpdateNotificationMessage.java
  backend/emm-sale/src/main/java/com/emmsale/notification/application/dto/UpdateNotificationResponse.java
  backend/emm-sale/src/main/java/com/emmsale/notification/application/generator/RequestNotificationMessageGenerator.java
  backend/emm-sale/src/main/java/com/emmsale/notification/application/generator/UpdateNotificationMessageGenerator.java
  backend/emm-sale/src/main/java/com/emmsale/notification/domain/RequestNotification.java
  backend/emm-sale/src/main/java/com/emmsale/notification/domain/RequestNotificationRepository.java
  backend/emm-sale/src/main/java/com/emmsale/notification/domain/RequestNotificationStatus.java
  backend/emm-sale/src/main/java/com/emmsale/notification/domain/UpdateNotification.java
  backend/emm-sale/src/main/java/com/emmsale/notification/domain/UpdateNotificationRepository.java
  backend/emm-sale/src/main/java/com/emmsale/notification/domain/UpdateNotificationType.java
  backend/emm-sale/src/main/java/com/emmsale/report/application/ReportCommandService.java
  backend/emm-sale/src/main/resources/data.sql
  backend/emm-sale/src/main/resources/schema.sql
  backend/emm-sale/src/test/java/com/emmsale/comment/application/CommentCommandServiceEventIntegrationTest.java
  backend/emm-sale/src/test/java/com/emmsale/comment/application/CommentCommandServiceTest.java
  backend/emm-sale/src/test/java/com/emmsale/event/application/EventServiceTest.java
  backend/emm-sale/src/test/java/com/emmsale/event_publisher/EventPublisherTest.java
  backend/emm-sale/src/test/java/com/emmsale/notification/application/NotificationCommandServiceTest.java
  backend/emm-sale/src/test/java/com/emmsale/notification/application/RequestNotificationCommandServiceTest.java
  backend/emm-sale/src/test/java/com/emmsale/notification/application/RequestNotificationQueryServiceTest.java
  backend/emm-sale/src/test/java/com/emmsale/notification/application/UpdateNotificationCommandServiceTest.java
  backend/emm-sale/src/test/java/com/emmsale/notification/application/UpdateNotificationQueryServiceTest.java
  backend/emm-sale/src/test/java/com/emmsale/notification/application/generator/UpdateNotificationMessageGeneratorTest.java
  backend/emm-sale/src/test/java/com/emmsale/notification/domain/RequestNotificationRepositoryTest.java
  backend/emm-sale/src/test/java/com/emmsale/notification/domain/UpdateNotificationRepositoryTest.java
  backend/emm-sale/src/test/java/com/emmsale/notification/domain/UpdateNotificationTest.java
  backend/emm-sale/src/test/java/com/emmsale/notification/domain/UpdateNotificationTypeTest.java
  backend/emm-sale/src/test/java/com/emmsale/report/application/ReportCommandServiceTest.java
  backend/emm-sale/src/test/resources/data-test.sql
Labels: 백엔드, 리팩터링

#679 Feature/#665 사용자 프로필 이미지 업데이트
  backend/emm-sale/src/documentTest/asciidoc/index.adoc
  backend/emm-sale/src/documentTest/java/com/emmsale/MemberApiTest.java
  backend/emm-sale/src/main/java/com/emmsale/image/application/S3Client.java
  backend/emm-sale/src/main/java/com/emmsale/member/api/MemberApi.java
  backend/emm-sale/src/main/java/com/emmsale/member/application/MemberUpdateService.java
  backend/emm-sale/src/main/java/com/emmsale/member/domain/Member.java
  backend/emm-sale/src/main/java/com/emmsale/member/exception/MemberExceptionType.java
  backend/emm-sale/src/test/java/com/emmsale/helper/ServiceIntegrationTestHelper.java
  backend/emm-sale/src/test/java/com/emmsale/image/application/S3ClientTest.java
  backend/emm-sale/src/test/java/com/emmsale/member/MemberFixture.java
  backend/emm-sale/src/test/java/com/emmsale/member/application/MemberUpdateServiceTest.java
  backend/emm-sale/src/test/java/com/emmsale/member/domain/MemberTest.java
Labels: 백엔드, 기능 추가

#693 fix(NoContentView): API 31 미만 버전에서 앱 팅기는 버그 수정
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/common/views/NoContentView.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/eventDetail/EventDetailViewModel.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/eventDetail/uiState/EventDetailUiState.kt
Labels: 버그, Android, High Priority

#689 #682 알림 스펙 사항 변경
  android/2023-emmsale/app/src/main/java/com/emmsale/data/apiModel/response/NotificationResponse.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/data/mapper/NotificationMapper.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/data/mapper/UpdatedNotificationMapper.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/data/model/updatedNotification/ChildCommentNotification.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/data/model/updatedNotification/InterestEventNotification.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/data/repository/concretes/DefaultNotificationRepository.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/data/service/NotificationService.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/common/bindingadapter/LocalDateTimeBindingAdapter.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/common/extension/LocalDateTimeExt.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/primaryNotificationList/PrimaryNotificationFragment.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/primaryNotificationList/PrimaryNotificationViewModel.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/primaryNotificationList/uiState/ChildCommentNotificationUiState.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/primaryNotificationList/uiState/InterestEventNotificationUiState.kt
  android/2023-emmsale/app/src/main/res/layout/item_comment_notification_body.xml
  android/2023-emmsale/app/src/main/res/layout/item_primary_notification.xml
Labels: Android

#657 refactor: 행사 신청 시작 및 종료 일자 추가 및 상태 제거
  backend/emm-sale/src/documentTest/java/com/emmsale/EventApiTest.java
  backend/emm-sale/src/documentTest/java/com/emmsale/ScrapApiTest.java
  backend/emm-sale/src/main/java/com/emmsale/event/application/EventService.java
  backend/emm-sale/src/main/java/com/emmsale/event/application/dto/EventResponse.java
  backend/emm-sale/src/main/java/com/emmsale/scrap/application/ScrapQueryService.java
  backend/emm-sale/src/test/java/com/emmsale/event/application/EventServiceTest.java
  backend/emm-sale/src/test/java/com/emmsale/scrap/application/ScrapQueryServiceTest.java
Labels: 백엔드, 리팩터링, Low Priority

#676 Feature/#664 행사 dto의 image url을 s3의 데이터로 대체
  backend/emm-sale/src/documentTest/java/com/emmsale/EventApiTest.java
  backend/emm-sale/src/documentTest/java/com/emmsale/ScrapApiTest.java
  backend/emm-sale/src/main/java/com/emmsale/event/api/EventApi.java
  backend/emm-sale/src/main/java/com/emmsale/event/application/EventService.java
  backend/emm-sale/src/main/java/com/emmsale/event/application/dto/EventDetailRequest.java
  backend/emm-sale/src/main/java/com/emmsale/event/application/dto/EventDetailResponse.java
  backend/emm-sale/src/main/java/com/emmsale/event/application/dto/EventResponse.java
  backend/emm-sale/src/main/java/com/emmsale/event/domain/Event.java
  backend/emm-sale/src/main/java/com/emmsale/image/domain/repository/ImageRepository.java
  backend/emm-sale/src/main/java/com/emmsale/scrap/application/ScrapQueryService.java
  backend/emm-sale/src/main/java/com/emmsale/scrap/application/dto/ScrapResponse.java
  backend/emm-sale/src/main/resources/data.sql
  backend/emm-sale/src/main/resources/schema.sql
  backend/emm-sale/src/test/java/com/emmsale/comment/application/CommentCommandServiceTest.java
  backend/emm-sale/src/test/java/com/emmsale/event/EventFixture.java
  backend/emm-sale/src/test/java/com/emmsale/event/application/EventServiceEventIntegrationTest.java
  backend/emm-sale/src/test/java/com/emmsale/event/application/EventServiceTest.java
  backend/emm-sale/src/test/java/com/emmsale/event/application/dto/EventDetailResponseTest.java
  backend/emm-sale/src/test/java/com/emmsale/event/domain/EventTest.java
  backend/emm-sale/src/test/java/com/emmsale/image/ImageFixture.java
  backend/emm-sale/src/test/java/com/emmsale/image/domain/repository/ImageRepositoryTest.java
  backend/emm-sale/src/test/java/com/emmsale/scrap/application/ScrapQueryServiceTest.java
Labels: 백엔드, 기능 추가, High Priority

#662 Feature/#660 행사 상세정보 조회 및 수정 api 데이터 추가
  backend/emm-sale/src/documentTest/java/com/emmsale/EventApiTest.java
  backend/emm-sale/src/main/java/com/emmsale/event/application/EventService.java
  backend/emm-sale/src/main/java/com/emmsale/event/application/dto/EventDetailResponse.java
  backend/emm-sale/src/main/java/com/emmsale/event/domain/Event.java
  backend/emm-sale/src/test/java/com/emmsale/event/application/dto/EventDetailResponseTest.java
  backend/emm-sale/src/test/java/com/emmsale/event/domain/EventTest.java
Labels: 백엔드, 기능 추가, Low Priority

#686 Feature/#324 행사 검색 기능 구현
  backend/emm-sale/src/documentTest/java/com/emmsale/EventApiTest.java
  backend/emm-sale/src/main/java/com/emmsale/event/api/EventApi.java
  backend/emm-sale/src/main/java/com/emmsale/event/application/EventService.java
  backend/emm-sale/src/main/java/com/emmsale/event/domain/repository/EventSpecification.java
  backend/emm-sale/src/test/java/com/emmsale/event/application/EventServiceTest.java
Labels: 백엔드, 기능 추가, High Priority

#695 Feature/#673 행사 상태 문자열 변경
  android/2023-emmsale/app/build.gradle.kts
  android/2023-emmsale/app/src/main/java/com/emmsale/data/apiModel/response/EventResponse.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/data/apiModel/response/ScrappedEventResponse.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/data/mapper/CompetitionMapper.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/data/mapper/ConferenceMapper.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/data/mapper/EventDetailMapper.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/data/mapper/ScrappedEventMapper.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/data/model/Competition.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/data/model/Conference.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/data/model/EventApplyStatus.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/data/model/EventApplyingStatus.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/data/model/EventDetail.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/data/model/EventProgressStatus.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/data/model/EventStatus.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/data/model/ScrappedEvent.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/common/bindingadapter/TextViewBindingAdapter.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/service/KerdyFirebaseMessagingService.kt
  android/2023-emmsale/app/src/main/res/layout/activity_event_detail.xml
  android/2023-emmsale/app/src/main/res/layout/fragment_event_information.xml
  android/2023-emmsale/app/src/main/res/layout/item_competition.xml
  android/2023-emmsale/app/src/main/res/layout/item_conference.xml
  android/2023-emmsale/app/src/main/res/layout/item_scrapped_event.xml
  android/2023-emmsale/app/src/main/res/values/strings.xml
Labels: Android, 기능 추가, High Priority

#705 Feature/#704 행사 목록 조회 api의 category를 option으로 변경
  backend/emm-sale/src/documentTest/java/com/emmsale/EventApiTest.java
  backend/emm-sale/src/main/java/com/emmsale/event/api/EventApi.java
  backend/emm-sale/src/main/java/com/emmsale/event/application/EventService.java
  backend/emm-sale/src/test/java/com/emmsale/event/application/EventServiceTest.java
Labels: 백엔드, 기능 추가, High Priority

#707 feat : 낮은 버젼에서도 이미지를 올릴 수 있도록 구현
  android/2023-emmsale/app/src/main/AndroidManifest.xml
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/postWriting/PostWritingActivity.kt
  android/2023-emmsale/app/src/main/res/values/strings.xml
Labels: Android

#711 Feature/#700 사용자 프로필 사진 변경 기능
  android/2023-emmsale/app/src/main/java/com/emmsale/data/apiModel/response/ProfileImageUrlResponse.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/data/repository/concretes/DefaultMemberRepository.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/data/repository/concretes/DefaultPostRepository.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/data/repository/interfaces/MemberRepository.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/data/service/MemberService.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/common/extension/ContextExt.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/common/imageUtil/ImageUtil.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/editMyProfile/EditMyProfileActivity.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/editMyProfile/EditMyProfileViewModel.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/editMyProfile/uiState/EditMyProfileErrorEvent.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/editMyProfile/uiState/EditMyProfileUiState.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/postWriting/PostWritingActivity.kt
  android/2023-emmsale/app/src/main/res/layout/activity_edit_my_profile.xml
  android/2023-emmsale/app/src/main/res/values/strings.xml
Labels: Android

#714 Feature/#712 d day로 바꾸기
  android/2023-emmsale/app/src/main/AndroidManifest.xml
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/common/bindingadapter/TextViewBindingAdapter.kt
  android/2023-emmsale/app/src/main/res/layout/activity_event_detail.xml
  android/2023-emmsale/app/src/main/res/layout/item_competition.xml
  android/2023-emmsale/app/src/main/res/layout/item_conference.xml
  android/2023-emmsale/app/src/main/res/layout/item_scrapped_event.xml
  android/2023-emmsale/app/src/main/res/values/strings.xml
Labels: Android, 기능 추가, High Priority

#716 Fix: 프로필 사진 초록색 배경 삭제
  android/2023-emmsale/app/build.gradle.kts
  android/2023-emmsale/app/src/main/res/layout/activity_profile.xml
  android/2023-emmsale/app/src/main/res/layout/fragment_my_profile.xml
Labels: Android

#718 fix(LocalDateTimeExt): 상대 시간 계산 로직 수정
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/common/extension/LocalDateTimeExt.kt
Labels: 버그, Android, High Priority

#725 Fix/#724 api 31 미만 버전에서 필터링 화면에서 앱 팅기는 버그
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/common/views/IconTextButton.kt
Labels: 버그, Android, High Priority

#723 Hotfix/#722 에뮬레이터 splash activity에서 다음화면으로 넘어가지 못하는 버그
  android/2023-emmsale/app/build.gradle.kts
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/splash/SplashActivity.kt
  android/2023-emmsale/app/src/main/res/values/strings.xml
Labels: 버그, Android

#721 Refactor/#720 member model 관련 리팩토링
  android/2023-emmsale/app/src/main/java/com/emmsale/data/mapper/MemberMapper.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/data/model/Member.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/data/repository/concretes/DefaultActivityRepository.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/data/repository/concretes/DefaultMemberRepository.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/data/repository/interfaces/MemberRepository.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/editMyProfile/ClubsAddBottomDialogFragment.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/editMyProfile/EditMyProfileActivity.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/editMyProfile/EditMyProfileViewModel.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/editMyProfile/EducationsAddBottomDialogFragment.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/editMyProfile/FieldsAddBottomDialogFragment.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/editMyProfile/recyclerView/ActivitiesAdapter.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/editMyProfile/recyclerView/ActivityDiffUtil.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/editMyProfile/recyclerView/ActivityViewHolder.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/editMyProfile/recyclerView/FieldViewHolder.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/editMyProfile/recyclerView/FieldsAdapter.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/editMyProfile/uiState/ActivitiesUiState.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/editMyProfile/uiState/ActivityUiState.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/editMyProfile/uiState/EditMyProfileUiState.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/editMyProfile/uiState/SelectableActivityUiState.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/myProfile/MyProfileFragment.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/myProfile/MyProfileViewModel.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/myProfile/uiState/MyProfileUiState.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/onboarding/OnboardingViewModel.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/openProfileUrlConfig/OpenProfileUrlConfigActivity.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/openProfileUrlConfig/OpenProfileUrlConfigViewModel.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/profile/ProfileActivity.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/profile/ProfileViewModel.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/profile/recyclerView/ActivitiesAdapter.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/profile/recyclerView/ActivityViewHolder.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/profile/uiState/ProfileUiState.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/setting/SettingFragment.kt
  android/2023-emmsale/app/src/main/res/layout/activity_edit_my_profile.xml
  android/2023-emmsale/app/src/main/res/layout/activity_open_profile_url_config.xml
  android/2023-emmsale/app/src/main/res/layout/activity_profile.xml
  android/2023-emmsale/app/src/main/res/layout/dialog_send_message.xml
  android/2023-emmsale/app/src/main/res/layout/fragment_editmyprofile_clubs_add_bottom_dialog.xml
  android/2023-emmsale/app/src/main/res/layout/fragment_editmyprofile_educations_add_bottom_dialog.xml
  android/2023-emmsale/app/src/main/res/layout/fragment_editmyprofile_fields_add_bottom_dialog.xml
  android/2023-emmsale/app/src/main/res/layout/fragment_my_profile.xml
  android/2023-emmsale/app/src/main/res/layout/fragment_setting.xml
  android/2023-emmsale/app/src/main/res/layout/item_editmyprofile_activity.xml
  android/2023-emmsale/app/src/main/res/layout/item_editmyprofile_field.xml
  android/2023-emmsale/app/src/main/res/layout/item_profile_activities.xml
Labels: Android

#692 피드 작성자에게 새로운 댓글 알림
  backend/emm-sale/src/main/java/com/emmsale/comment/application/CommentCommandService.java
  backend/emm-sale/src/main/java/com/emmsale/event_publisher/CommentNotificationEvent.java
  backend/emm-sale/src/main/java/com/emmsale/event_publisher/EventPublisher.java
  backend/emm-sale/src/test/java/com/emmsale/comment/application/CommentCommandServiceEventIntegrationTest.java
  backend/emm-sale/src/test/java/com/emmsale/event_publisher/EventPublisherTest.java
Labels: 백엔드, 기능 추가, High Priority

#736 Refactor/#730 오버드로(over draw) 감소
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/common/views/bottomMenuDialog/BottomDialogMenuItem.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/common/views/bottomMenuDialog/BottomMenuDialog.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/editMyProfile/ClubsAddBottomDialogFragment.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/editMyProfile/EducationsAddBottomDialogFragment.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/editMyProfile/FieldsAddBottomDialogFragment.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/profile/SendMessageDialog.kt
  android/2023-emmsale/app/src/main/res/drawable/bg_activity_tag.xml
  android/2023-emmsale/app/src/main/res/drawable/bg_all_transparent.xml
  android/2023-emmsale/app/src/main/res/drawable/bg_event_search.xml
  android/2023-emmsale/app/src/main/res/drawable/bg_eventsearch_search.xml
  android/2023-emmsale/app/src/main/res/drawable/bg_messagelist_message_input.xml
  android/2023-emmsale/app/src/main/res/drawable/bg_primarynotification_header.xml
  android/2023-emmsale/app/src/main/res/drawable/bg_profile_activityicon.xml
  android/2023-emmsale/app/src/main/res/drawable/bg_shadow.xml
  android/2023-emmsale/app/src/main/res/drawable/bg_tablayout_indicator.xml
  android/2023-emmsale/app/src/main/res/layout/activity_child_comments.xml
  android/2023-emmsale/app/src/main/res/layout/activity_edit_my_profile.xml
  android/2023-emmsale/app/src/main/res/layout/activity_event_detail.xml
  android/2023-emmsale/app/src/main/res/layout/activity_event_search.xml
  android/2023-emmsale/app/src/main/res/layout/activity_feed_detail.xml
  android/2023-emmsale/app/src/main/res/layout/activity_main.xml
  android/2023-emmsale/app/src/main/res/layout/activity_member_block.xml
  android/2023-emmsale/app/src/main/res/layout/activity_message_list.xml
  android/2023-emmsale/app/src/main/res/layout/activity_notification_box.xml
  android/2023-emmsale/app/src/main/res/layout/activity_notification_config.xml
  android/2023-emmsale/app/src/main/res/layout/activity_profile.xml
  android/2023-emmsale/app/src/main/res/layout/activity_recruitment_post_detail.xml
  android/2023-emmsale/app/src/main/res/layout/dialog_bottom_menu.xml
  android/2023-emmsale/app/src/main/res/layout/dialog_send_message.xml
  android/2023-emmsale/app/src/main/res/layout/fragment_competition.xml
  android/2023-emmsale/app/src/main/res/layout/fragment_conference.xml
  android/2023-emmsale/app/src/main/res/layout/fragment_editmyprofile_clubs_add_bottom_dialog.xml
  android/2023-emmsale/app/src/main/res/layout/fragment_editmyprofile_educations_add_bottom_dialog.xml
  android/2023-emmsale/app/src/main/res/layout/fragment_editmyprofile_fields_add_bottom_dialog.xml
  android/2023-emmsale/app/src/main/res/layout/fragment_event.xml
  android/2023-emmsale/app/src/main/res/layout/fragment_event_recruitment.xml
  android/2023-emmsale/app/src/main/res/layout/fragment_message_room.xml
  android/2023-emmsale/app/src/main/res/layout/fragment_my_profile.xml
  android/2023-emmsale/app/src/main/res/layout/fragment_primary_notification.xml
  android/2023-emmsale/app/src/main/res/layout/fragment_scrapped_event.xml
  android/2023-emmsale/app/src/main/res/layout/fragment_setting.xml
  android/2023-emmsale/app/src/main/res/layout/item_block_member.xml
  android/2023-emmsale/app/src/main/res/layout/item_conference.xml
  android/2023-emmsale/app/src/main/res/layout/item_post.xml
  android/2023-emmsale/app/src/main/res/layout/item_recruitment.xml
  android/2023-emmsale/app/src/main/res/layout/layout_no_content.xml
  android/2023-emmsale/app/src/main/res/values/styles.xml
  android/2023-emmsale/app/src/main/res/values/themes.xml
Labels: Android, 리팩터링, High Priority

#738 Refactor/#732 이미지 불러오는 속도 개선
  android/2023-emmsale/app/src/main/AndroidManifest.xml
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/competitionList/recyclerView/CompetitionRecyclerViewAdapter.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/conferenceList/recyclerView/ConferenceRecyclerViewAdapter.kt
Labels: Android, 리팩터링, High Priority, Low Priority

#744 Hotfix/#743 프로필 수정시 활동별로 정상적으로 뜨지 않는 버그
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/editMyProfile/EducationsAddBottomDialogFragment.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/editMyProfile/FieldsAddBottomDialogFragment.kt
Labels: 버그, Android

#742 Refactor/#733 뷰 계층 단순화 하기
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/postWriting/PostWritingActivity.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/recruitmentDetail/RecruitmentPostDetailActivity.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/recruitmentWriting/RecruitmentPostWritingActivity.kt
  android/2023-emmsale/app/src/main/res/layout/activity_post_writing.xml
  android/2023-emmsale/app/src/main/res/layout/activity_recruitment_post_detail.xml
  android/2023-emmsale/app/src/main/res/layout/activity_recruitment_post_writing.xml
  android/2023-emmsale/app/src/main/res/menu/menu_postedit_toolbar.xml
  android/2023-emmsale/app/src/main/res/menu/menu_postwriting_toolbar.xml
  android/2023-emmsale/app/src/main/res/values/themes.xml
Labels: Android

#748 Feature/#741 앱 업데이트 다이얼로그 외부 클릭 방지
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/common/views/ConfirmDialog.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/splash/SplashActivity.kt
Labels: Android, 기능 추가, Low Priority

#729 Fix/#726 행사 목록 조회 시 행사 날짜만을 기준으로 정렬하는 문제
  backend/emm-sale/src/documentTest/java/com/emmsale/EventApiTest.java
  backend/emm-sale/src/main/java/com/emmsale/event/api/EventApi.java
  backend/emm-sale/src/main/java/com/emmsale/event/application/EventService.java
  backend/emm-sale/src/main/java/com/emmsale/event/domain/EventPeriod.java
  backend/emm-sale/src/main/java/com/emmsale/scrap/application/ScrapQueryService.java
  backend/emm-sale/src/test/java/com/emmsale/event/application/EventServiceTest.java
  backend/emm-sale/src/test/java/com/emmsale/event/domain/EventTest.java
Labels: 버그, 백엔드, High Priority

#750 fix: 지난 달의 메시지 시간이 방금 전으로 보이는 버그 수정
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/common/extension/LocalDateTimeExt.kt
Labels: Android

#751 Feature/#746 가로 모드 대응
  android/2023-emmsale/app/src/main/AndroidManifest.xml
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/eventPageList/EventFragment.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/main/MainActivity.kt
  android/2023-emmsale/app/src/main/res/layout-land/activity_event_detail.xml
  android/2023-emmsale/app/src/main/res/layout-land/fragment_event.xml
  android/2023-emmsale/app/src/main/res/layout/activity_event_search.xml
  android/2023-emmsale/app/src/main/res/layout/fragment_competition.xml
  android/2023-emmsale/app/src/main/res/layout/fragment_conference.xml
  android/2023-emmsale/app/src/main/res/layout/fragment_event_recruitment.xml
  android/2023-emmsale/app/src/main/res/layout/fragment_post_list.xml
  android/2023-emmsale/app/src/main/res/layout/fragment_scrapped_event.xml
  android/2023-emmsale/app/src/main/res/layout/fragment_setting.xml
  android/2023-emmsale/app/src/main/res/values-land/bools.xml
  android/2023-emmsale/app/src/main/res/values-land/dimens.xml
  android/2023-emmsale/app/src/main/res/values-land/integers.xml
  android/2023-emmsale/app/src/main/res/values/bools.xml
  android/2023-emmsale/app/src/main/res/values/dimens.xml
  android/2023-emmsale/app/src/main/res/values/integers.xml
  android/2023-emmsale/app/src/main/res/values/text_styles.xml
Labels: Android

#754 feat: 설정창에 문의하기 넣기
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/setting/SettingFragment.kt
  android/2023-emmsale/app/src/main/res/layout/fragment_setting.xml
  android/2023-emmsale/app/src/main/res/values/strings.xml
Labels: Android, 기능 추가

#752 Fix/747 프로필 수정시 관심 분야 최대 4개 제한이 무시되는 버그
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/editMyProfile/ClubsAddBottomDialogFragment.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/editMyProfile/EditMyProfileViewModel.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/editMyProfile/EducationsAddBottomDialogFragment.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/editMyProfile/FieldsAddBottomDialogFragment.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/editMyProfile/uiState/ActivitiesUiState.kt
  android/2023-emmsale/app/src/main/res/layout/activity_feed_detail.xml
  android/2023-emmsale/app/src/main/res/layout/fragment_editmyprofile_fields_add_bottom_dialog.xml
Labels: 버그, Android

#760 Feature/#753 난독화 범위 최소화
  android/2023-emmsale/app/build.gradle.kts
  android/2023-emmsale/app/proguard-glide.pro
  android/2023-emmsale/app/proguard-retrofit.pro
  android/2023-emmsale/app/proguard-rules.pro
Labels: Android, 기능 추가, High Priority

#763 Fix/#761 다크모드 디자인 수정
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/profile/SendMessageDialog.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/recruitmentDetail/SendMessageDialog.kt
  android/2023-emmsale/app/src/main/res/drawable/bg_requestcompanion_et.xml
Labels: 버그, Android, High Priority

#764 Fix/#756 게시글이 없을 때, 스크롤이 잘 안되는 버그
  android/2023-emmsale/app/build.gradle.kts
  android/2023-emmsale/app/proguard-rules.pro
  android/2023-emmsale/app/src/main/res/layout/fragment_event_recruitment.xml
  android/2023-emmsale/app/src/main/res/layout/fragment_post_list.xml
Labels: Android, High Priority

#767 fix: 게시글 스크롤 및 상세페이지 안되는 버그 해결
  android/2023-emmsale/app/src/main/res/layout/fragment_event_recruitment.xml
  android/2023-emmsale/app/src/main/res/layout/fragment_post_list.xml
Labels: 버그, Android

#769 Feature/#765 푸시 알림 클릭할 때 업데이트 필요 확인하는 기능
  android/2023-emmsale/app/build.gradle.kts
  android/2023-emmsale/app/src/main/AndroidManifest.xml
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/common/extension/AppUpdateInfoExt.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/service/KerdyFirebaseMessagingService.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/splash/SplashActivity.kt
Labels: Android, High Priority

#778 Feature/#776 행사 화면 새로고침 기능
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/competitionList/CompetitionViewModel.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/conferenceList/ConferenceFragment.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/conferenceList/ConferenceViewModel.kt
  android/2023-emmsale/app/src/main/res/layout/fragment_competition.xml
  android/2023-emmsale/app/src/main/res/layout/fragment_conference.xml
Labels: Android, 기능 추가, Low Priority

#772 Feature/#768 소프트 키보드가 보여지면 채팅창 화면이 올라가는 기능
  android/2023-emmsale/app/src/main/AndroidManifest.xml
  android/2023-emmsale/app/src/main/res/layout/activity_message_list.xml
  android/2023-emmsale/app/src/main/res/values/themes.xml
Labels: 버그, Android, Low Priority

#773 Feature/#771 채팅창 키보드 바깥 영역을 클릭하면 키보드가 닫히는 기능
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/messageList/MessageListActivity.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/messageList/recyclerview/MessageListAdapter.kt
  android/2023-emmsale/app/src/main/res/layout/activity_message_list.xml
Labels: Android, 기능 추가, Low Priority

#791 Feature/#771 채팅창 키보드 외 영역을 클릭하면 키보드가 닫히는 기능
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/messageList/KeyboardHider.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/messageList/MessageListActivity.kt
Labels: Android, Low Priority

#788 Feature/#785 채팅에 시간을 표시하는 기능
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/common/bindingadapter/LocalDateTimeBindingAdapter.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/common/extension/LocalDateTimeExt.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/common/views/WrapWidthTextView.java
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/messageList/MessageListViewModel.kt
  android/2023-emmsale/app/src/main/res/layout/activity_message_list.xml
  android/2023-emmsale/app/src/main/res/layout/item_message_room.xml
  android/2023-emmsale/app/src/main/res/layout/item_my_message.xml
  android/2023-emmsale/app/src/main/res/layout/item_other_message.xml
  android/2023-emmsale/app/src/main/res/values/date_time_patterns.xml
Labels: Android, 기능 추가

#790 Feature/#784 채팅 화면이 맨 밑으로 내려가지 않는 버그
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/messageList/MessageListActivity.kt
Labels: Android, Low Priority

#789 Feature/#782 프로필 사진 디자인 변경
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/common/bindingadapter/ImageViewBindingAdapter.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/editMyProfile/EditMyProfileActivity.kt
  android/2023-emmsale/app/src/main/res/drawable/ic_editmyprofile_image_edit.xml
  android/2023-emmsale/app/src/main/res/drawable/ic_myprofile_edit_mode_button.xml
  android/2023-emmsale/app/src/main/res/drawable/ic_profile_education.xml
  android/2023-emmsale/app/src/main/res/drawable/img_profile_edit_button.xml
  android/2023-emmsale/app/src/main/res/drawable/img_profile_image_decoration.xml
  android/2023-emmsale/app/src/main/res/drawable/img_profile_image_masking.xml
  android/2023-emmsale/app/src/main/res/layout/activity_edit_my_profile.xml
  android/2023-emmsale/app/src/main/res/layout/activity_profile.xml
  android/2023-emmsale/app/src/main/res/layout/fragment_message_room.xml
  android/2023-emmsale/app/src/main/res/layout/fragment_my_profile.xml
  android/2023-emmsale/app/src/main/res/values/strings.xml
Labels: Android, 기능 추가, Low Priority

#793 Fix/#783 앨범을 통해 이미지를 가져오지 못하는 버그
  android/2023-emmsale/app/src/main/java/com/emmsale/data/repository/concretes/DefaultMemberRepository.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/data/repository/concretes/DefaultPostRepository.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/data/repository/interfaces/MemberRepository.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/data/repository/interfaces/PostRepository.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/data/service/MemberService.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/common/bindingadapter/ImageViewBindingAdapter.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/common/imageUtil/ImageUtil.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/editMyProfile/EditMyProfileActivity.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/editMyProfile/EditMyProfileViewModel.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/postWriting/PostWritingActivity.kt
  android/2023-emmsale/app/src/main/java/com/emmsale/presentation/ui/postWriting/PostWritingViewModel.kt
  android/2023-emmsale/app/src/main/res/layout/activity_edit_my_profile.xml
  android/2023-emmsale/app/src/main/res/values/strings.xml
Labels: Android

#799 refactor: primary Color 변경
  android/2023-emmsale/app/src/main/res/values-night/colors.xml
  android/2023-emmsale/app/src/main/res/values/colors.xml
Labels: Android
